@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");

body {
  margin: 0;
  font-family: "Electrolize", sans-serif;
  font-weight: 400;
  font-style: normal;
  @apply bg-gray-50
}

.categories::-webkit-scrollbar {
  display: none;
}

.menu-link{
  @apply flex flex-col hover:text-[#40a9ff]  transition-all items-center
}

.menu-link.active{
  @apply text-[#40a9ff]
}


@media (min-width: 768px) {
  
  .ant-btn-priamry {
    background-color: #1677ff;
  }
  .categories::-webkit-scrollbar {
    display: none;
    
  }
  .categories::-webkit-scrollbar {
    display: none;
  }
  
}
